.vscode
.idea
**/*.log
**/*.gch
**/*.o*
**/*.d
**/*.o
**/*.a
**/*.so
**/a.out
logo.qoi
conv
conv.h
LICENCE
picture.ppm
temp.rgb
temp.rgba
/build
/tests
/code
/conv
.cache
conv
conv.h
LICENSE
logo.qoi
picture.ppm
temp.rgb
temp.rgba
node_modules

DartConfiguration.tcl

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
